In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

df = pd.read_csv('/kaggle/input/house-prices-advanced-regression-techniques/train.csv')

# Предварительная обработка данных

1. Посмотреть на пропуски.

In [33]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [34]:
df = pd.read_csv('/kaggle/input/house-prices-advanced-regression-techniques/train.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [35]:
missing_columns = df.columns[df.isnull().any()]
print(missing_columns)

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [43]:
print(df.info())  # Сведения о типах данных и пропусках
print(df.describe())  # Статистическое описание числовых колонок

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          1460 non-null   object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB
None
                Id   MSSubClass  LotFrontage        LotArea  OverallQual  \
count  1460.000000  1460.000000  1460.000000    1460.000000  1460.000000
mean    730.500000    56.897260    69.863699   10516.828082     6.099315
std     421.610009    42.300571    22.027677    9981.264932     1.382997
min       1.000000    20.000000    21.000000    1300.000000     1.000000
25%     365.750000    20.000000    60.000000    7553.500000     5.000000
50%     730.500000    50.000000    69.000000    9478.500000     6.000000
75%    1095.250000    70.000000    79.000000   11601.500000     7.000000
max    1460.000000   190.000000   313.000000  215245.000000    10.000000

       OverallCond    YearBuilt  YearRemodAdd   MasVnrArea   BsmtFinSF1  ...  \
count  1460.000000  1460.000000   1460.000000  1452.000000  1460.000000  ...
mean      5.575342  1971.267808   1984.865753   103.685262   443.639726  ...
std       1.112799    30.202904     20.645407   181.066207   456.098091  ...
min       1.000000  1872.000000   1950.000000     0.000000     0.000000  ...
25%       5.000000  1954.000000   1967.000000     0.000000     0.000000  ...
50%       5.000000  1973.000000   1994.000000     0.000000   383.500000  ...
75%       6.000000  2000.000000   2004.000000   166.000000   712.250000  ...
max       9.000000  2010.000000   2010.000000  1600.000000  5644.000000  ...

        WoodDeckSF  OpenPorchSF  EnclosedPorch    3SsnPorch  ScreenPorch  \
count  1460.000000  1460.000000    1460.000000  1460.000000  1460.000000
mean     94.244521    46.660274      21.954110     3.409589    15.060959
std     125.338794    66.256028      61.119149    29.317331    55.757415
min       0.000000     0.000000       0.000000     0.000000     0.000000
25%       0.000000     0.000000       0.000000     0.000000     0.000000
50%       0.000000    25.000000       0.000000     0.000000     0.000000
75%     168.000000    68.000000       0.000000     0.000000     0.000000
max     857.000000   547.000000     552.000000   508.000000   480.000000

          PoolArea       MiscVal       MoSold       YrSold      SalePrice
count  1460.000000   1460.000000  1460.000000  1460.000000    1460.000000
mean      2.758904     43.489041     6.321918  2007.815753  180921.195890
std      40.177307    496.123024     2.703626     1.328095   79442.502883
min       0.000000      0.000000     1.000000  2006.000000   34900.000000
25%       0.000000      0.000000     5.000000  2007.000000  129975.000000
50%       0.000000      0.000000     6.000000  2008.000000  163000.000000
75%       0.000000      0.000000     8.000000  2009.000000  214000.000000
max     738.000000  15500.000000    12.000000  2010.000000  755000.000000

[8 rows x 38 columns]

## Посмотрим на уникальные значения признаков с типом object
> *Let's look at the unique values of features with the object data type.*

In [37]:
object_columns = df.select_dtypes(include=['object'])

for column in object_columns.columns:
    unique_values = df[column].unique()
    print(f"Unique values in column '{column}':")
    print(unique_values)
    print('-' * 50)  # Separator for readability

Unique values in column 'MSZoning':
['RL' 'RM' 'C (all)' 'FV' 'RH']
--------------------------------------------------
Unique values in column 'Street':
['Pave' 'Grvl']
--------------------------------------------------
Unique values in column 'Alley':
[nan 'Grvl' 'Pave']
--------------------------------------------------
Unique values in column 'LotShape':
['Reg' 'IR1' 'IR2' 'IR3']
--------------------------------------------------
Unique values in column 'LandContour':
['Lvl' 'Bnk' 'Low' 'HLS']
--------------------------------------------------
Unique values in column 'Utilities':
['AllPub' 'NoSeWa']
--------------------------------------------------
Unique values in column 'LotConfig':
['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
--------------------------------------------------
Unique values in column 'LandSlope':
['Gtl' 'Mod' 'Sev']
--------------------------------------------------
Unique values in column 'Neighborhood':
['CollgCr' 'Veenker' 'Crawfor' 'NoRidge' 'Mitchel' 'Somerst' 'NWAmes'
 'OldTown' 'BrkSide' 'Sawyer' 'NridgHt' 'NAmes' 'SawyerW' 'IDOTRR'
 'MeadowV' 'Edwards' 'Timber' 'Gilbert' 'StoneBr' 'ClearCr' 'NPkVill'
 'Blmngtn' 'BrDale' 'SWISU' 'Blueste']
--------------------------------------------------
Unique values in column 'Condition1':
['Norm' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRNn' 'RRAn' 'PosA' 'RRNe']
--------------------------------------------------
Unique values in column 'Condition2':
['Norm' 'Artery' 'RRNn' 'Feedr' 'PosN' 'PosA' 'RRAn' 'RRAe']
--------------------------------------------------
Unique values in column 'BldgType':
['1Fam' '2fmCon' 'Duplex' 'TwnhsE' 'Twnhs']
--------------------------------------------------
Unique values in column 'HouseStyle':
['2Story' '1Story' '1.5Fin' '1.5Unf' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin']
--------------------------------------------------
Unique values in column 'RoofStyle':
['Gable' 'Hip' 'Gambrel' 'Mansard' 'Flat' 'Shed']
--------------------------------------------------
Unique values in column 'RoofMatl':
['CompShg' 'WdShngl' 'Metal' 'WdShake' 'Membran' 'Tar&Grv' 'Roll'
 'ClyTile']
--------------------------------------------------
Unique values in column 'Exterior1st':
['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'AsbShng' 'Stucco' 'BrkComm' 'AsphShn' 'Stone' 'ImStucc'
 'CBlock']
--------------------------------------------------
Unique values in column 'Exterior2nd':
['VinylSd' 'MetalSd' 'Wd Shng' 'HdBoard' 'Plywood' 'Wd Sdng' 'CmentBd'
 'BrkFace' 'Stucco' 'AsbShng' 'Brk Cmn' 'ImStucc' 'AsphShn' 'Stone'
 'Other' 'CBlock']
--------------------------------------------------
Unique values in column 'MasVnrType':
['BrkFace' nan 'Stone' 'BrkCmn']
--------------------------------------------------
Unique values in column 'ExterQual':
['Gd' 'TA' 'Ex' 'Fa']
--------------------------------------------------
Unique values in column 'ExterCond':
['TA' 'Gd' 'Fa' 'Po' 'Ex']
--------------------------------------------------
Unique values in column 'Foundation':
['PConc' 'CBlock' 'BrkTil' 'Wood' 'Slab' 'Stone']
--------------------------------------------------
Unique values in column 'BsmtQual':
['Gd' 'TA' 'Ex' nan 'Fa']
--------------------------------------------------
Unique values in column 'BsmtCond':
['TA' 'Gd' nan 'Fa' 'Po']
--------------------------------------------------
Unique values in column 'BsmtExposure':
['No' 'Gd' 'Mn' 'Av' nan]
--------------------------------------------------
Unique values in column 'BsmtFinType1':
['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']
--------------------------------------------------
Unique values in column 'BsmtFinType2':
['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']
--------------------------------------------------
Unique values in column 'Heating':
['GasA' 'GasW' 'Grav' 'Wall' 'OthW' 'Floor']
--------------------------------------------------
Unique values in column 'HeatingQC':
['Ex' 'Gd' 'TA' 'Fa' 'Po']
--------------------------------------------------
Unique values in column 'CentralAir':
['Y' 'N']
--------------------------------------------------
Unique values in column 'Electrical':
['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix' nan]
--------------------------------------------------
Unique values in column 'KitchenQual':
['Gd' 'TA' 'Ex' 'Fa']
--------------------------------------------------
Unique values in column 'Functional':
['Typ' 'Min1' 'Maj1' 'Min2' 'Mod' 'Maj2' 'Sev']
--------------------------------------------------
Unique values in column 'FireplaceQu':
[nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']
--------------------------------------------------
Unique values in column 'GarageType':
['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']
--------------------------------------------------
Unique values in column 'GarageFinish':
['RFn' 'Unf' 'Fin' nan]
--------------------------------------------------
Unique values in column 'GarageQual':
['TA' 'Fa' 'Gd' nan 'Ex' 'Po']
--------------------------------------------------
Unique values in column 'GarageCond':
['TA' 'Fa' nan 'Gd' 'Po' 'Ex']
--------------------------------------------------
Unique values in column 'PavedDrive':
['Y' 'N' 'P']
--------------------------------------------------
Unique values in column 'PoolQC':
[nan 'Ex' 'Fa' 'Gd']
--------------------------------------------------
Unique values in column 'Fence':
[nan 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']
--------------------------------------------------
Unique values in column 'MiscFeature':
[nan 'Shed' 'Gar2' 'Othr' 'TenC']
--------------------------------------------------
Unique values in column 'SaleType':
['WD' 'New' 'COD' 'ConLD' 'ConLI' 'CWD' 'ConLw' 'Con' 'Oth']
--------------------------------------------------
Unique values in column 'SaleCondition':
['Normal' 'Abnorml' 'Partial' 'AdjLand' 'Alloca' 'Family']
--------------------------------------------------

## Обработаем числовые признаки

In [38]:
# Фасад участка: Линейный отрезок улицы, соединенный с объектом недвижимости
df['LotFrontage'] = df['LotFrontage'].fillna(df['LotFrontage'].median())

## Аккуратно обработаем объектные признаки

In [39]:
# Выход к аллее
df['Alley'] = df['Alley'].fillna('None')

**Обрати внимание**

25  MasVnrType     588 non-null    object 

26  MasVnrArea     1452 non-null   float64

**Для этих значение заполним модой**

In [44]:
# Вывод данных до замены
print('До замены', df.loc[df['MasVnrType'].isna() & (df['MasVnrArea'] > 0), ['MasVnrType', 'MasVnrArea']], sep='\n')

# Замена пропусков в MasVnrType на моду, если MasVnrArea > 0
df.loc[df['MasVnrType'].isna() & (df['MasVnrArea'] > 0), 'MasVnrType'] = df['MasVnrType'].mode()[0]

# Вывод данных после замены
print('После замены', df.loc[df['MasVnrType'].isna() & (df['MasVnrArea'] > 0), ['MasVnrType', 'MasVnrArea']], sep='\n')

До замены
     MasVnrType  MasVnrArea
624         NaN       288.0
773         NaN         1.0
1230        NaN         1.0
1300        NaN       344.0
1334        NaN       312.0
После замены
Empty DataFrame
Columns: [MasVnrType, MasVnrArea]
Index: []

**Для остальных None**

In [ ]:
# Заполнить пропуски специальной категорией 'None'
df['MasVnrType'].fillna('None', inplace=True)

**Обработаем камины**

56  Fireplaces     1460 non-null   int64  

57  FireplaceQu    770 non-null    object

Мы видим, что для 0 каминов FireplaceQu - Nan

In [42]:
# Вывод данных до замены
print('Before', df.loc[df['Fireplaces'] == 0, ['Fireplaces', 'FireplaceQu']].head(), sep='\n')

# Замена значений на 'None' там, где Fireplaces == 0
df.loc[df['Fireplaces'] == 0, 'FireplaceQu'] = df.loc[df['Fireplaces'] == 0, 'FireplaceQu'].fillna('None')

# Вывод данных после замены
print('After', df.loc[df['Fireplaces'] == 0, ['Fireplaces', 'FireplaceQu']].head(), sep='\n')

Before
    Fireplaces FireplaceQu
0            0         NaN
5            0         NaN
10           0         NaN
12           0         NaN
15           0         NaN
After
    Fireplaces FireplaceQu
0            0        None
5            0        None
10           0        None
12           0        None
15           0        None

In [32]:
df['FireplaceQu'].isnull().sum()

770

In [ ]:
df['MSZoning'].unique()

In [ ]:
df['PoolQC'].unique()
# titanic.Survived.unique()